/*使用 csscomb 调整顺序*/

*
{
    margin: 0;
    padding: 0;
}
/* header 部分*/
#header
{
    width: 100%;
    height: 70px;

    color: #fff;
    background: rgb(51,51,51);
}
#header div
{
    width: 960px;
    margin: auto;
}
#header a
{
    color: #fff;
}
#header ul
{
    float: right;

    list-style: none;
}
#header ul li
{
    float: left;

    margin: 0 10px;
}
#logo
{
    line-height: 70px;
}

/* banner 部分*/
#banner
{
    position: relative;

    width: 100%;
    height: 400px;

    background: rgb(102,187,51);
}
#banner ul
{
    position: absolute;
    right: 10px;
    bottom: 0;

    float: right;

    list-style: none;
}
#banner ul li
{
    line-height: 30px;

    float: left;

    width: 30px;
    height: 30px;
    margin: 10px 3px;

    text-align: center;

    opacity: .5;
    border: 1px solid #000;
    background: rgb(255,255,255);
}
#banner ul li a
{
    text-decoration: none;

    color: #000;
}
#banner ul li:hover
{
    opacity: .9;
    color: #000;
    background: rgb(255,255,255);
}

/*container部分*/
#container_nav
{
    width: 100%;
    height: 51px;

    border-bottom: 1px solid grey;
}
#container_nav ul
{
    width: 960px;
    margin: 30px auto 0;
}
#container_nav ul li
{
    line-height: 50px;

    float: left;

    width: 120px;
    height: 50px;

    list-style: none;

    text-align: center;

    border: 1px solid grey;
    border-radius: 25px 25px 0 0;
    background: rgb(238,238,238);
}
#container_nav ul li a
{
    text-decoration: none;

    color: #000;
}
#container_nav ul li:hover
{
    border-bottom: 1px solid #fff;
    background: #fff;
}

#container_main
{
    display: flex;

    width: 960px;
    margin: 0 auto;

    flex-wrap: wrap;
}
.card
{
    margin: 10px 10px;
    padding: 80px;

    border: 1px solid grey;
}


/*footer部分*/
#footer
{
    width: 100%;
    height: 90px;

    background: rgb(102,102,102);

    flex: 0 0 auto;
}
#footer p
{
    margin-top: 10px;

    text-align: center;

    color: #fff;
}
