/*
*   基础样式
*/
* {
    margin: 0;
    padding: 0;
}
body {
    background: #DEDEDE;
}
div {
    margin: 20px;
    padding: 20px;
    border: 1px solid #D0D0D0;
    box-shadow: 2px 1px #979797;
    background: #fff;
}
h2 {
    margin: 20px 0;
}
h3 {
    margin: 15px 0;
    color: #C2C0C1;
}
img {
    margin: 15px 0;
    height: 200px;
    width: 200px;
}
.article {
    margin: 10px 0px;
    color: #9F9392;
}
.tip {
    color: #C2C0C1;
}

/*
*   nav 部分
*/
nav {
    background: rgb(51, 51, 51);
    height: 70px;
}
nav img {
    height: 40px;
    width: 150px;
    margin: 15px 0 0 50px;
}
nav ul {
    float:right;
}
nav li{
    float: left;
    margin: 25px 30px 0 0;
}
nav li a {
    color: #fff;
    text-decoration: none;
}

/*
*  goodImg 部分 
*/
.goodImg {
    width: 100px;
    text-align: center;
    display: inline-block;
}
.goodImg img {
    height: 100px;
    width: 100px;
}

/*
*   列表部分
*/
.firstArticleList {
    margin: 10px 20px;
    list-style: none;
}
.lastArticleList {
    margin: 20px 40px;
}

/*
*   最后一篇文章内表格 部分
*/
.articleTable, .articleTable th, .articleTable td {
    border: 1px solid #D0D0D0;
    padding: 5px;
}
.articleTable {
    border-collapse:collapse; 
    width: 100%;
}
.articleTable th {
    height: 30px;
    text-align: left;
    color: #fff;
    background: #333;
}
.articleTable td {
    height: 30px;
}
.articleTable_lastTr {
    background: #CCC;
}

/*
*   container 部分
*/
.container {
    margin: 0 450px -20px -20px;
    padding-top: 0;
    background: #DEDEDE;
    border-style: none;
    box-shadow: none;
}

/*
*   sideBar 部分
*/
.sideBar {
    width: 400px;
    position: absolute;
    top: 70px;
    right: 0;
}
.sideBarTitle {
    padding: 10px; 
    border-left: 5px solid #DFDFDF;
    font-size: 20px;
}
.sideBarTable {
    width: 100%;
    font-size: 17px;
    border-collapse: separate; 
    border-spacing: 20px;
}
.sideBarTable tr td:first-child{
    width: 40%;
    text-align: right;
}
.submit {
    height: 50px;
    width: 100%;
    font-size: 18px;
    border: none;
    color: #fff;
    border-radius: 10px;
    background: #3355D0;
}
textarea {
    height: 100px;
    width: 100%;
    font-size: 20px;
}

/*
*   footer 部分
*/
footer {
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: #000;
    color: #fff;
}